* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    background-image: radial-gradient(#ccc 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

#mc4image {
    width: 100%;
    aspect-ratio: 21/9;
    object-fit: cover;
    filter: drop-shadow(0px 12px 24px #000000);
}

.carouselShit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    margin: auto;
    filter: drop-shadow(0px 12px 24px #000000);
}

.mcHeroContainer {
    display: flex;
    flex-direction: ;
    margin: 0 auto;
    justify-content: center;
    max-width: 500px;  
    width: 90%;         
    text-align: center;
    color: #0F4C81;
    padding-top: 100px;
    word-wrap: break-word;
}

.mcHeroContainer h1 {
    font-family: "orbitron", sans-serif;
    font-size: 5rem;
}

.mcHeroContainer p {
    font-family: "Merriweather", sans-serif;
    font-size: 1.25rem;    
    line-height: 1.6;     
    margin-top: 10px;
    overflow-wrap: break-word;
    hyphens: auto;
}

.mcFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
    max-width: 100%;
    flex-wrap: wrap;  
}

.mcFlex img {
    width: 100%;
    max-width: 1000px;  
    height: auto;
    filter: drop-shadow(0px 12px 24px #000000);
}

hr {
    border: none;
    height: 4px;
    background: linear-gradient(45deg, #0F4C81, #1100ff);
    margin: 30px auto;
    width: 60%;
}

.mcFlex h1{
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    color: #0F4C81;
    text-align: center;
}

.mcFlex p {
    font-family: "Merriweather", sans-serif;
    font-size: 1.25rem;    
    line-height: 1.6;     
    margin-top: 10px;
    max-width: 800px;
    text-align: center;
}

.mcHeroP{
    font-size: 2.5rem;
}

@media(max-width: 600px) and (min-width: 320px) {
    #mc4image {
        height: auto;
    }

    .mcHeroContainer h1 {
        font-size: 3rem;
    }

    .mcHeroP {
        font-size: 1.5rem;
    }
    .mcFlex h1 {
        font-size: 2rem;
    }

    .mcBoxImage{
        width: 80%;
        height: auto;
    }

    .carouselShit {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .mcText{
        font-size: 0.2rem;
    }
}

@media (max-width: 1440px) and (min-width: 1024px){
    .mcHeroContainer h1 {
        font-size: 4rem;
    }

    .mcHeroP {
        font-size: 2rem;
    }

    .mcFlex h1 {
        font-size: 2.5rem;
    }
}

@media(max-width: 872px) and (min-width: 700px) {
    .carouselShit{
        width: 90%;
        height: auto;
        padding: 20px;
    }
}