nav {
    font-family: "Orbitron", sans-serif;
}

.navbar-brand{
    font-weight: bold;
    background: linear-gradient(90deg, #1E3A8A, #3B82F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
